<!DOCTYPE html>
<html lang="en">
  <head>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Cover Template for Bootstrap</title>

    <!-- Custom styles for this template -->
    <link href="../static/css/about.css" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="back">

    <div class="main-container">
            <h1>Bear witness to this <span>amazing</span> team.</h1>
            
            <table>
                <tr>
                    <th>Philip</th>
                    <th>Colin</th>
                    <th>Sophia</th>
                </tr>
                <tr>
                    <td><img src="/static/img/philip.jpg" alt="Generic placeholder image"></td>
                    <td><img src="/static/img/colin.jpg" alt="Generic placeholder image"></td>
                    <td><img src="/static/img/sophia.jpg" alt="Generic placeholder image"></td>
                </tr>
                <tr class="row">
                    <td>"What?"</td>
                    <td>"Okay"</td>
                    <td>"Syncing..."</td>
                </tr>
                <tr>
                    <th>Franky</th>
                    <th>Dave</th>
                    <th>Maiki</th>
                </tr>
                <tr>
                    <td><img src="/static/img/franky.jpg" alt="Generic placeholder image"></td>
                    <td><img src="/static/img/dave.jpg" alt="Generic placeholder image"></td>
                    <td><img src="/static/img/maiki.jpg" alt="Generic placeholder image"></td>
                </tr>
                <tr>
                    <td>"I like burritos!"</td>
                    <td>"Still Sane!"</td>
                    <td>"Fine"</td>
                </tr>
            </table>
    </div>

   


    <!-- jQuery Version 1.11.0 -->
    <script src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>

    <!-- Lodash -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
